@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto';
}

.main {
    width: 1060px;
    margin: 100px auto;
    background: #F2F2F2;
    box-sizing: border-box;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    padding: 0 28px 28px;
}

.title {
    text-align: center;
    padding: 40px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
}

.title::after {
    content: '';
    position: absolute;
    width: 650px;
    height: 2px;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #BDBDBD;
}

.list-tab {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.list-tab li {
    margin: 0 30px;
    color: #828282;
}

.list-tab li.on {
    font-weight: 900;
    color: #000;
}

.movie-list {
    padding: 25px;
    background: #fff;
    box-sizing: border-box;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.movie-list > li {
    width: 220px;
    height: 440px;
    padding: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.poster_img {
    width: 180px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tit-itme {
    font-weight: 900;
    margin: 12px 0;
    display: block;
} 

.sub-item li {
    font-size: 13px;
    margin: 5px 0;
    display: inline-block;
}

.sub-item li .sub-tit {
    color: #828282;
    margin-right: 5px;
}

.sub-item li.grade {
    float: right;
}

.sub-item li.grade::after {
    content: "";
    display: block;
    clear: both;
}

.sub-item li.grade .sub-tit {
    margin-right: 22px;
    position: relative;
}

.sub-item li.grade .sub-tit::after {
    content: '';
    position: absolute;
    top: 0;
    left: 26px;
    width: 14px;
    height: 14px;
    background: url(../image/star.png);
}

.sub-btn {
    width: 50%;
    height: 40px;
    padding: 10px 27px;
    border-top: 1px solid #BDBDBD;
    background: #F2F2F2;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.reserve_btn {
    left: 0;
    border-right: 1px solid #BDBDBD;
}

.preview_btn {
    right: 0;
    text-indent: 10px;
}

.preview_btn::before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-7px);
    background: url(../image/play.png);
    background-size: 14px 14px;
}

/* footer */
.footer {
    padding: 50px 0;
    position: relative;
    background: #F2F2F2;
}

.container {
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
}

.text_JungleCinema {
    font-size: 22px;
    font-weight: 700;
}

.text_JungleCinema::after {
    content: '';
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    width: 1060px;
    height: 1px;
    margin: 0 auto;
    background: #C4C4C4;
}

.sns {
    float: right;
}

.sns li {
    float: left;
    margin-left: 25px
}

.sns_img {
    width: 24px;
}

.site-info {
    margin-top: 100px;
}

.site-info dt, .site-info dd {
    display: inline;
    font-size: 14px;
    color: #4F4F4F;
    float: left;
}

.site-info dd::after {
    content: '|';
    margin: 0 3px 0 6px;
}

.site-info dd:last-child::after {
    content: '';
}

.site-info dt {
    font-weight: 700;
    margin-right: 5px;
}

.copyright {
    float: right;
}